{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}
    {% if review_submission_successful %}
    <div class="alert alert-success">
        <strong>Success!</strong> You have successfully left a review.
    </div>
    {% endif %}

    {% if empty_text_review %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> You cannot leave an empty review.
    </div>
    {% endif %}

    {% if no_rating %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> You must choose a rating from 1 to 5.
    </div>
    {% endif %}

    {% if already_reviewed %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> You cannot submit multiple reviews for the same book.
    </div>
    {% endif %}

    <h1>Book Details</h1>

    <ul>
        <li><b>ISBN:</b> {{ book.isbn }}</li>
        <li><b>Title:</b> {{ book.title }}</li>
        <li><b>Author:</b> {{ book.author }}</li>
        <li><b>Publication Year:</b> {{ book.pub_yr }}</li>
        <li><b>Review Count:</b> {{ book.review_count }}</li>
        <li><b>Average Review Score:</b> {{ book.avg_score }}</li>
    </ul>

    
    <h2>Reviews</h2>
        {% for review in reviews %}
            <div id="user-reviews">
                <h5><u>{{ review.username }}</u></h5>
                    <dl>
                        <dt>Rating:
                        <dd>{{ review.rating }}
                        <dt>Review:
                        <dd>{{ review.text_opinion }}
                    </dl>
            </div>
        {% else %}
            <h6>No reviews for this book.</h6>
        
        {% endfor %}
    

    <h2>Goodreads Review Data</h2>
    {% if not goodreads_data %}
        <h6>Goodreads data is unavailable for this book</h6>
    {% else %}
    <ul>
        <li>Number of Ratings: {{ goodreads_data["work_ratings_count"] }}</li>
        <li>Average Rating: {{ goodreads_data["average_rating"] }}</li>
    </ul>
    {% endif %}
    

    <h3>Submit a review for this book</h3>
    <form action="{{ url_for('reviewSubmission') }}" method="post">
        <div class="form-group">
            <label for="review">Review</label>
            <input type="text" class="form-control" name="text_review" placeholder="Write your review here">
        </div>

        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="browser-default custom-select" name="rating">
                <option selected>Choose a rating from 1 to 5</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
            
        <button type="submit" class="btn btn-primary">Submit Review</button>
    </form>

    <form action="{{ url_for('search') }}">
        <div class="index-button">
            <button type="submit" class="btn btn-secondary">Back to Search Page</button>
        </div>
    </form>

    <form action="{{ url_for('index') }}">
        <div class="index-button">
            <button type="submit" class="btn btn-warning">Logout</button>
        </div>
    </form>

    <style>
        div {margin-top:10px;}
        #user-reviews {border:3px; border-style:solid; border-color:#707070; padding: 4px;}
        .index-button {margin-top: 20;}
    </style>

{% endblock %}
