{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    {% if review_submission_successful %}
    <div class="alert alert-success">
        <strong>Success!</strong> You have successfully left a review.
    </div>
    {% endif %}

    {% if empty_text_review %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> You cannot leave an empty review.
    </div>
    {% endif %}

    {% if no_rating %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> You must choose a rating from 1 to 5.
    </div>
    {% endif %}

    {% if already_reviewed %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> You cannot submit multiple reviews for the same book.
    </div>
    {% endif %}

    <h1>Book Details</h1>

    <ul>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Publication Year: {{ book.pub_yr }}</li>

        <li>Review Count: {{ book.review_count }}</li>
        <li>Average Review Score: {{ book.avg_score }}</li>
    </ul>

    <h2>Reviews</h2>
    
        {% for review in reviews %}
            <h5>{{ review.username }}</h5>
                <ul>
                    <li>{{ review.text_opinion }}</li>
                    <li>{{ review.rating }}</li>
                </ul>
        {% else %}
            <li>No reviews for this book.</li>
        {% endfor %}

        <!-- {% for passenger in passengers %}
            <li>{{ passenger.name }}</li>
        {% else %}
            <li>No passengers.</li>
        {% endfor %} -->
    

    <h3>Submit a review for this book</h3>
    <form action="{{ url_for('reviewSubmission') }}" method="post">
        <div class="form-group">
            <label for="review">Review</label>
            <input type="text" class="form-control" name="text_review" placeholder="Write your review here">
        </div>

        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="browser-default custom-select" name="rating">
                <option selected>Choose a rating from 1 to 5</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
            
        <button type="submit" class="btn btn-primary">Submit Review</button>
    </form>



    <form action="{{ url_for('index') }}">
        <div class="index-button">
            <button type="submit" class="btn btn-warning">Logout</button>
        </div>
    </form>

{% endblock %}
