{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>Please enter your login information</h1>

    <form action="{{ url_for('loginAttempt') }}" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>

        <div class="form-group">
          <label for="pword">Password</label>
          <input type="password" class="form-control" name="pword" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <form action="{{ url_for('register') }}">
        <div class="register-button" style=“margin-top:50px;”>
            <h5>Don't have an account yet?</h5>
            <button type="submit" class="btn btn-secondary">Create an account</button>
        </div>
    </form>

    <style>
        .register-button {margin-top:50px;}
    </style>
{% endblock %}
