{% extends "layout.html" %}

{% block title %}
    Leave a Review
{% endblock %}

{% block body %}
    <h1>Leave a review</h1>

    <form action="{{ url_for('book') }}" method="post">
        <div class="form-group">
            <select class="browser-default custom-select" name="category">
                <option selected>Choose Search Type</option>
                <option value="isbn">ISBN</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
            </select>
        
            <input class="form-control" name="keyword" placeholder="Keyword">
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    <form action="{{ url_for('index') }}">
        <div class="index-button">
            <button type="submit" class="btn btn-warning">Logout</button>
        </div>
    </form>
    
{% endblock %}
