{% extends "layout.html" %}

{% block title %}
    Search for a Book
{% endblock %}

{% block body %}
    <h1>Search for a Book</h1>

    {% if missing_category %}
        <div class="alert alert-warning">
            <strong>Warning!</strong> You must choose a search type
         </div>
    {% endif %}

    {% if no_book_found %}
        <div class="alert alert-warning">
            <strong>Warning!</strong> No book that matched the search criteria could be found
         </div>
    {% endif %}

    <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
            <select class="browser-default custom-select" name="category">
                <option selected>Choose Search Type</option>
                <option value="isbn">ISBN</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
            </select>
        
            <input class="form-control" name="keyword" placeholder="Keyword">
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    <form action="{{ url_for('index') }}">
        <div class="index-button">
            <button type="submit" class="btn btn-warning">Logout</button>
        </div>
    </form>
    
{% endblock %}
